.container {
  position: relative;
  height: 100%;
  background-color: lightpink;
}

.map {
  height: 100%;
  width: 100%;
}

.interactiveContainer {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;

  display: grid;
  place-items: center;

  background-color: transparent;
  z-index: 100;
}

.form {
  display: grid;
  align-items: center;
  row-gap: 0.5rem;

  input {
    font-size: 1rem;
    border-radius: 0.15em;
    padding: 0.25em 0.7em;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
    border: 2px solid darkblue;

    &:disabled {
      background-color: white;
      color: black;
    }

    &:focus {
      border-color: darkorange;
    }
  }
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;

  button {
    font-size: 1rem;
    width: 100%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 0.15rem;

    &:active {
      background-color: papayawhip;
    }
  }

  .btnPrimary {
    background-color: mediumseagreen;
    color: white;

    &:active {
      background-color: forestgreen;
    }
  }
}

.bus {
  position: relative;
  width: 15px;
  height: 15px;
  border: 3px solid blue;
  background-color: white;
  border-radius: 50%;
}

.busInfo {
  position: absolute;
  font-size: 0.7rem;
  font-weight: bold;
  top: 0;
  left: 50%;
  transform: translate(-50%, -110%);

  background-color: white;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 0.25rem;
  text-align: center;
  user-select: none;
}